<h1>Here's the Rules</h1>
<h4>The rules are just the same as Rock, Paper, Scissors that you played as a kid.
The way you play is a bit different! All you need to do is follow the instructions below:</h4>

<ol>
  <li>Copy the following text into your address bar: localhost:4567/game/PLAYER_1/PLAYER_2</li>
  <li>Player 1 replaces "PLAYER_1" in the URL with "Rock", "Paper" or "Scissors"</li>
  <li>Player 2 replaces "PLAYER_2" in the same way</li>
  <li>Hit Return and see who wins!</li>
</ol>
