body {
  line-height: 2;
  padding-left: 30px;
  padding-right: 200px;
  padding-top: 25px;
  background-color: plum;
  font-family: Futura, "Helvetica Neue", sans-serif;
  text-align: justify;
  color: midnightblue;
}
